body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 10px;
}

h1 {
  background-color: #333;
  color: white;
  padding: 20px;
  margin: 0;
}

.Product, .User{
  box-sizing: border-box;
  border: 1px solid #ddd;
  margin: 10px 0;
}

.form_and_list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.form_and_list .addUser,
.form_and_list .UsersList,
.form_and_list .addProduct,
.form_and_list .ProductDetailList {
  box-sizing: border-box;
  width: calc(50% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  overflow: auto;
  max-height: 400px;
}

.ProductList {
  box-sizing: border-box;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  overflow: auto;
  max-height: 400px;
}

.addUser,
.addProduct {
  background-color: #f2f2f2;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

h3 {
  margin-top: 0;
}